<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Foo Fighters Forum</title>
</head>
<body>
<h1>+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+</h1>
<h2>| F | o | o | F | i | g | h | t | e | r | s | F | o | r | u | m |</h2>
<h1>+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+</h1>

<div sec:authorize="!isAuthenticated()">
    <button th:onclick="|location.href='@{/login}'|">로그인</button>
    <button th:onclick="|location.href='@{/user/signup}'|">회원가입</button>
</div>
<div sec:authorize="isAuthenticated()">
    <button th:onclick="|location.href='@{/logout}'|">로그아웃</button>
    <button th:onclick="|location.href='@{/post/write}'|">글 작성</button>
</div>
<!--<span th:if="${user != null}">-->
<!--    -->
<!--</span>-->

<b th:if="${user != null}">
    <span th:if="${user.getRole() == 1}">
    <button th:onclick="|location.href='@{/admin/deletedPosts}'|">삭제된 게시글 관리</button>
</span>
</b><br/><br/>

글 개수: <span th:text="${posts.size()}"></span>
<table border="1">
    <thead>
    <tr>
        <th>글번호</th>
        <th>타이틀</th>
        <th>댓글</th>
        <th>작성자</th>
        <th>수정자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${posts == null}">
        <td colspan="5"> 게시글 없음</td>
    </tr>
    <tr th:each="post : ${posts}">

        <td><span th:text="${post.postId}"></span></td>
        <td><a th:href="@{post(id=${post.postId})}" th:text="${post.title}"></a></td>
        <td><span th:text="${post.commentList.size()}"></span></td>
        <td><span th:text="${post.createdBy.getUsername()}"></span></td>
        <td>
            <span th:text="${post.updatedBy} ? ${post.updatedBy.getUsername()} : '-'"></span>
        </td>
        <td><span th:text="${post.createdAt}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>