<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Foo Fighters Forum</title>
</head>
<body>
<th:block th:include="fragments/heading" />

<!--<div sec:authorize="isAuthenticated()">-->
<!--    <div sec:authentication="hasRole('ROLE_ADMIN')">-->
<!--        <button th:onclick="|location.href='@{/admin/deletedPosts}'|">삭제된 게시글 관리</button>-->
<!--    </div>-->
<!--</div>-->

</b><br/><br/>

글 개수: <span th:text="${posts.size()}"></span>
<table border="1">
    <thead>
    <tr>
        <th>글번호</th>
        <th>타이틀</th>
        <th>댓글</th>
        <th>작성자</th>
        <th>수정자</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${posts == null}">
        <td colspan="5"> 게시글 없음</td>
    </tr>
    <tr th:each="post : ${posts}">

        <td><span th:text="${post.postId}"></span></td>
        <td><a th:href="@{posts/{id}(id=${post.postId})}" th:text="${post.title}"></a></td>
        <td><span th:text="${post.commentList.size()}"></span></td>
        <td><span th:text="${post.createdBy.getUsername()}"></span></td>
        <td>
            <span th:text="${post.updatedBy} ? ${post.updatedBy.getUsername()} : '-'"></span>
        </td>
        <td><span th:text="${post.createdAt}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>