<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>나의 문의 목록</title>

</head>
<body>
<a th:href="@{/cs/logout}">로그아웃</a><br/>
<h2>나의 문의 목록</h2>
<table border="1">
    <thead>
    <tr>
        <th> 제목 </th>
        <th> 분류 </th>
        <th> 작성일시 </th>
        <th> 답변여부 </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inquiries : ${inquiries}">
        <td><span th:text="${inquiries.title}"></span></td>
        <td><span th:text="${inquiries.category}"></span></td>
        <td><span th:text="${inquiries.writeDate}"></span></td>
        <td><span th:text="${inquiries.isAnswered}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>