<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<h1>The Foo Fighters Forum</h1>

<button th:onclick="|location.href='@{/cs/inquiry}'|">글 작성</button>
<table border="1">
    <thead>
    <tr>
        <th>글번호</th>
        <th>타이틀</th>
        <th>작성자</th>
        <th>수정자</th>
        <th>작성일</th>
        <th>댓글 개수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${boards == null}">
        <td colspan="5"> No Post</td>
    </tr>
    <tr th:each="board : ${boards}">

        <td><span th:text="${board.id}"></span></td>
        <td><a th:href="@{board/post(id=${board.getId()})}" th:text="${board.getTitle()}"></a></td>
        <td><span th:text="${board.getWriter()}"></span></td>
        <td>
            <p th:if="${board.modifier != null}">
                <span th:text="${board.getModifier()}"></span>
            </p>
        </td>
        <td><span th:text="${board.getCreatedAt()}"></span></td>
        <td><span th:text="${board.getCommentCount()}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>